body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f4f8;
}
h1{
    text-align: center;
    color: #131a21;
}
form{
    max-width: 600px;
    margin: auto;
    background-color:#b6d6f6 ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.5);
    padding: 20px;
}
fieldset{
    border: 2px solid #de0a07;
    border-radius:8px ;
    padding:20px ;
    margin-bottom: 20px;
     background-color: rgb(201, 222, 240);
}
legend{
    font-weight: bold;
    text-align: center;
    color: #131a21;

}
label{
    display: block;
    margin-top: 10px;
    color:#131a21
}
input,textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #345954;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(10, 244, 26);
    color:  black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: #de0a07;
}
resumeOutPut{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #345954;
    border-radius: 4px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.5)
}

#reumeOutPut h2{
    color: #2d3e50;
}